<h1>New course</h1>

<%= form_tag('/classroom/create') do %>
    <div class="control-group">
      <label class="control-label">Curso:</label>
      <div class="controls">
        <%= select_tag 'course', options_for_select(@courses.collect{|c|[c.name, c.id]})%>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Estudante:</label>
      <div class="controls">
        <%= select_tag 'student', options_for_select(@students.collect{|c|[c.name, c.id]})%>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag 'Salvar', :class => 'btn btn-primary' %>
      <%= link_to 'Voltar', courses_path, class: 'btn' %>
    </div>

<% end %>